{% extends 'base.html' %}
{% block content %}

<h2>Update Company or Amount</h2>

<div class="container">
  <form action="/companys/{{ company.id }}" method="POST">
      <label for="name">Name of Company</label>
      <input type="text" id="user" name="name" placeholder="Name" required autofocus class="input" value="{{ company.name }}">
  
      <label for="amount">Amount Spent</label>
      <input type="number" id="amount" name="amount" placeholder="amount" class="input" value="{{ company.amount }}">

      <label for="category_id">Category</label>
      <select id="category" name="category_id">
        {% for category in categorys %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
  
    <button id="button" type="submit">Update Company and Amount</button>
  </form>
</div>
{% endblock %}