{% extends 'base.html' %}
{% block content %}
   <h2>Companys</h2>

   {% for company in companys %}
   <section>
     <p>{{ company.name }} {{ company.amount }}</p>
     <a href="/companys/{{ company.id }}/edit"><button type="submit" id=button1>Edit Company</button></a>
     <form action="/companys/{{ company.id }}/delete" method="POST">
      <button id="button1" type="submit">Delete companys</button>
    </form>
   </section>
   {% endfor %}
   <nav>
    <ul>
      <li>
        <a href="/companys/new"><button type="submit">Add Company</button></a>
      </li>
    </ul>
  </nav>
{% endblock %}