{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/companys" method="POST">
        <label for="name">Company Name</label>
        <input type="text" id="user" name="name" placeholder="Name" required autofocus class="input">
    
        <label for="amount">Amount Spent</label>
        <input type="number" id="amount" name="amount" placeholder="amount" class="input">
        
        <label for="category">Category</label>
        <select id="category" name="category_id">
          {% for category in all_categorys  %}
            <option value="{{ category.id }}">{{ category.name() }}</option>
          {% endfor %}
        </select>
    
      <button id="button" type="submit">Add Company</button>
    </form>
  </div>
  {% for company in companys %}
  <div>
    <p>{{ company.name }}, £{{ company.amount }}</p>
  </div>
  {% endfor %}
{% endblock %}