html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:400;
  text-align: center;
  margin: 0;
}

/* title */
#title{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-weight: lighter;
}

#title p{
  font-size: 14px;
}
/* title */


/* users */
.user{
  box-shadow: 0 0 5px gainsboro;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 5px;
  width: max-content;
  margin: 0 auto;
}
#button1{
  border: none;
  padding: 5px;
  cursor: pointer;

}



/* forms */
.container{
  width: max-content;
  box-shadow: 0 0 5px gainsboro;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  border-radius: 5px;
}

.input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#button{
  display: block;
  width: 100%;
  background-color: midnightblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* forms */


/*Tabs*/
#navbar{  
  box-shadow: 0 0 5px gainsboro;
  margin: 0px auto;
  width: 100%;
  padding: 10px;
	position: fixed;
  bottom: 0px;
  background-color: white;
}
#navbar ul{
	margin:0;
	padding:0;
}

#navbar a{
	color: black;
	text-decoration: none;
	font-size: 12px;
}

#navbar li{
	display:inline;
	padding: 0 20px 0 20px;
}

#navbar a:hover{
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}

/* edit and delete buttons */

