{% extends 'base.html' %}
 {% block content %}
 <div id="title">
  <h2 id="title1">Taylor's Savings</h2>
  <p>Tailored to your savings</p>
 </div>

   <!-- Show the user -->
  <section class="main-user">
    {% for user in users %}
    <div class="user">
      <p>{{ user.full_name }}</p>
      <a href="/users/{{ user.id }}/edit"><button type="submit" id=button3><i class="fa fa-edit"></i></button></a>
      <form action="/users/{{ user.id }}/delete" method="POST">
       <button id="button3" type="submit"><i class="fa fa-close"></i></button>
     </form>
    </div>
  {% endfor %}
  
    {% for account in accounts  %}
    <div class="user">
    <p class="account">{{ account.account_name }}:  £{{ account.amount }}</p>
      <a href="/accounts/{{ account.id }}/edit"><button type="submit" id=button3><i class="fa fa-edit"></i></button></a>
      <form action="/accounts/{{ account.id }}/delete" method="POST">
      <button id="button3" type="submit"><i class="fa fa-close"></i></button>
    </form> 
  </div>

    {% endfor %}
  </section>

 <!-- Add a different company using this form   -->
 <div class="main-container">
  <form action="/" method="POST">
      <label for="name">Company & Amount</label>
      <input type="text" name="name" placeholder="Name" required autofocus class="input">
  
      <input type="number" name="amount" placeholder="Amount" class="input">
      

      <select name="category_id" id="category" class="main-option">
      {% for category in all_category %}
      <option value="{{ category.id }}">{{category.name }}</option>
      {% endfor %}
      </select>


      <select name="account_id" id="user" class="main-option">
      {% for account in accounts %}
      <option value="{{ account.id }}">{{ account.account_name }}</option>
      {% endfor %}
      </select>

    <button id="button" type="submit">Submit</button>
  </form>

<!--Display the company that have been added-->
</div>
  <section class="display-heading">
    <h4>Recent Purchases</h4>
    <div class="display">
    {% for company in all_company %}
      <p>{{ company.name }} £{{ company.amount }} {{company.category.name }}</p>
      <a href="/companys/{{ company.id }}/edit"><button type="submit" id="button2"><i class="fa fa-edit"></i></button></a>
      <form action="/companys/{{ company.id }}/delete" method="POST">
        <button type="submit" id="button2"><i class="fa fa-close"></i></button>
      </form>
    {% endfor %}
  </div>
  </section>
{% endblock %}