{% extends 'base.html' %}
 {% block content %}
   <h1>Taylor's Savings</h1>
   
   <p>Tailored to your savings</p>

   <!-- Show the user -->
  <section>
    <h4>Show users here</h4>
    {% for user in users %}
      <p>{{ user.full_name }} £{{ user.amount }}</p>

      <a href="/users/{{ user.id }}/edit"><button type="submit" id=button1>Edit User</button></a>

      <form action="/users/{{ user.id }}/delete" method="POST">
       <button id="button1" type="submit">Delete User</button>
     </form>
  {% endfor %}
  </section>

 <!--Add a different company using this form  --> 
 <div class="container">
  <form action="/companys" method="POST">
      <label for="name">Company Name</label>
      <input type="text" id="user" name="name" placeholder="Name" required autofocus class="input">
  
      <label for="amount">Amount Spent</label>
      <input type="number" id="amount" name="amount" placeholder="amount" class="input">
      
      <label for="category">Category</label>
      <select id="category" name="category_id">
        {% for category in categorys %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    <button id="button" type="submit">Add Company</button>
  </form>

<!--Display the company that have been added-->
</div>
  <section>
    <h4>Why will the company not print here</h4>
    {% for company in companys %}
      <p>{{ company.name }} £{{ company.amount }} {{ company.category.name }}</p>

      <a href="/companys/{{ company.id }}/edit"><button type="submit" id=button1>Edit Company</button></a>
      <form action="/companys/{{ company.id }}/delete" method="POST">
        <button id="button1" type="submit">Delete companys</button>
      </form>
    {% endfor %}
  </section>

{% endblock %}