{% extends 'base.html' %}
{% block content %}
   <h2>Users</h2>

   {% for user in users %}

   <section>
     <p>{{ user.full_name }} £{{ user.amount }}</p>
     <a href="/users/{{ user.id }}/edit"><button type="submit" id=button1>Edit User</button></a>
     <form action="/users/{{ user.id }}/delete" method="POST">
      <button id="button1" type="submit">Delete User</button>
    </form>
   </section>
     
   {% endfor %}
   <nav>
    <ul>
      <li>
        <a href="/users/new">Add User</a>
      </li>
    </ul>
  </nav>
{% endblock %}