{% extends 'base.html' %}
{% block content %}
   <h2>Users</h2>

   {% for user in users %}

   <section>
     <p>{{ user.full_name }} £{{ user.amount }}</p>
     <a href="/users/{{ user.id }}/edit">Edit</a>
     <form action="/users/{{ user.id }}/edit/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
    <a href="/users/{{ user.id }}">Details</a>
   </section>
     
   {% endfor %}
   <nav>
    <ul>
      <li>
        <a href="/users/new">Add User</a>
      </li>
    </ul>
  </nav>
{% endblock %}