{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="/users" method="POST">
        <label for="username">Name</label>
        <input type="text" id="user" name="username" placeholder="Name" required autofocus class="input">
    
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" placeholder="amount" class="input">
    
      <button id="button" type="submit">Add User</button>
    </form>
  </div>
  {% for user in users  %}
  <div>
    <p>{{ user.full_name }} {{ user.amount }}</p>
  </div>
  {% endfor %}
{% endblock %}